#tools {
    border: 1px solid black;
    border-bottom: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#tools input, button {
    min-width: fit-content;
    width: 5%;
}

#tools input {
    min-width: 5%;
}