/* toolbar style */
#tools {
    border: 1px solid black;
    border-bottom: none;
    border-radius: 7px 7px 0px 0px; /* radius on top corners*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#tools input, button {
    width: 5%;
}